header h1 {
  font-family: Helvetica; 
  font-size: 3rem; 
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;
}

.contact ul {
  list-style-type: none;
  text-align: center;
  font-family: Helvetica;
  margin bottom: 10px;
}

h2 {
  font-family: Helvetica;
  margin-bottom: 2px; 
  font-weight: bold;
}

hr {
  border-color: black;
}

.education {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 20px;
}

table {
  width: 100%;
  border: 1px solid black;
}

.rightalign {
  text-align: right;
  font-weight: bold;
}

.leftalign {
  text-align: left;
}
