header h1 {
  font-family: Helvetica; 
  font-size: 3rem; 
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;
}

.contact ul {
  list-style-type: none;
  text-align: center;
  font-family: Helvetica;
  margin bottom: 10px;
  font-size: 18px;
}

h2 {
  font-family: Helvetica;
  margin-bottom: 2px; 
  font-weight: bold;
  font-size: 30px;
}

hr {
  border-color: black;
}

.education {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 20px;
}

table {
  width: 100%;
}

.rightalign {
  text-align: right;
}

.leftalign {
  text-align: left;
  font-weight: bold;
}

.degree {
  text-indent: 7%;
  text-align: left;
}

.licandcert {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 20px;
}

.clinical {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 20px;
}

.unit {
  text-align: left;
}

.date {
  text-align: right;
}
  
.wkexperience {
  font-family: Helvetica;
  margin-bottom: 2px; 
  font-weight: bold;
  font-size: 30px
}

.work {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 20px;
}

.shdate {
  text-align: right;
}

.peds {
  font-size: 25px;
}
